body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* HEADER CSS*/
.header{
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f9faf8;
  padding: 0px 200px;
  height: 50px;
}

.header-logo{
  font-size: 24px;
  font-weight: bold;
}

.nav-links{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.nav-links a{
  text-decoration:  none;
  color: #e5e7eb;
  font-size: 18px;
}